%br
%footer{:class => "text-center"}
  %a{:class => "up-arrow", :href => "#myPage", "data-toggle" => "tooltip", :title => "TO TOP"}
    %span{:class => "glyphicon glyphicon-chevron-up"}
  %br
  %br
  %p!= "&copy;#{t('app_title')} #{Time.now.year}"
