%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "root_path"} musiclibrary
    %ul.nav.navbar-nav
      %li.active
        %a{:href => "http://localhost:3000/"} Home

      %li
        %a{:href => "http://localhost:3000/artists"} Artists
      %li
        %a{:href => "http://localhost:3000/albums"} Albums
      %li
        %a{:href => "#"} Songs
