//Added a bootstrap navigation bar
%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "/"} musiclibrary
    %ul.nav.navbar-nav

      %li
        %a{:href => "http://localhost:3000/artists"} Artists
      %li
        %a{:href => "http://localhost:3000/albums"} Albums
      %li
        %a{:href => "http://localhost:3000/songs"} Songs

    %ul.nav.navbar-nav.navbar-right
      %li
        %a{:href => "http://localhost:3000/users/sign_up"}
          %span.glyphicon.glyphicon-user
          Sign up
      %li
        %a{:href => "http://localhost:3000/users/sign_in"}
          %span.glyphicon.glyphicon-log-in
          Sign in
