$secondary-col: #666666;

.container {
    padding: 20px 80px;
}

//SCSS image style
img{
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: cover;
}


//SCSS style for the persons image
.person-recommends{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

  .person-title{
    margin-top: 5px;
    text-align: center;
  }

//SCSS style for any form
form label, form input{
  display: flex;
  margin: 5px;
}

.transition {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
}
#content {
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
}
